@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Lato:wght@300&display=swap");

h1, h2, h3, p, li {
  @apply font-['Lato'];
}

.after::after {
  content: 'Make a better World';
  top: 1.5rem;
  right: 0;
  position: absolute;
  font-size: 0.75rem;
}
