.list {
  @apply w-10/12
      pb-6
      mb-4
      relative
      last:pb-0
      md:pb-0
      md:w-[26%];

  .list-title {
    @apply text-center
          font-bold
          text-lg
          xl:text-start;
  }

  .list-text {
    @apply text-center
          xl:text-start;
  }

  .list-see-more {
    @apply text-center
          text-blue-600
          xl:text-start;
  }
}

.pin {
  @apply absolute
    top-0
    right-0
    xl:hidden;
}
